{{ $data := index site.Data site.Language.Lang }}

{{ if $data.feature.feature.enable }}
{{ with $data.feature.feature }}
{{"<!-- feature -->" | safeHTML}}
{{ $var := "" }}
{{ if .hide_on_mobile }}
    {{ $var = "hideonmobile" }}
{{ end }}
<section class="section section-bg about-2 padding-2 {{ $var }}" id="feature">
	<div class="container-fluid px-0 d-flex justify-content-center">
		<div class="row mx-0 justify-content-center">
			<div class="col-lg-10 text-center">
				<div class="content-block" style="padding: 0 40px; margin: 0 auto;">
					<!-- <h2>{{ .title | markdownify }}</h2>-->
					     Welcome <span aria-hidden="true" class="fa fa-lg fa-heart fa-anim-vertical-shake" style="color:#FF0064"></span> </br>			     
					     <h3 style="text-align: justify;"></br>
						 <p>  
					     Since I was 21 years old I have been studying astrology with a passion unlike any other field of interest. It all began with a life crisis that sparked a 20+ year study that still fascinates me to this day.
						 </br></br>
						 During the COVID pandemic I studied <b>coaching</b> with <a href="https://www.animascoaching.com/" target="_blank">Animas UK</a> and began combining astrology with coaching. Eventually I added my love of travel to the mix and discovered <b>AstroCartography</b> — finding optimal locations aligned with personal goals. 
						 {{/* </br></br> */}}
						 {{/* Whether seeking the optimal place for starting a family, gaining spiritual growth, making a career/home move, AstroCartography offers personalized location guidance based on your goals and unique astrological blueprint. */}}
						 </h3>
					     </br>I'm Vlad, and if you are ready for the next step in your adventure, you may <b><a style="color:#FF9F1C;" href="https://calendly.com/misterclarity/30min">book a free intro session</a></b>.
					     
					<div class="row">
						{{ range .feature_item }}
						<div class="col-lg-6">
							<div class="media">
								{{with .icon}}
								<div class="align-self-start mr-3">
									<i class="{{ . }}"></i>
								</div>
								{{ end }}
								<div class="media-body">
									<h4 class="media-heading">{{ .title | markdownify }}</h4>
									<p>{{ .content | markdownify }}</p>
								</div>
							</div>
						</div>
						{{ end }}
					</div>
				</div>
			</div>
			<div class="col-lg-6 vlad-image" style="background-image: url('{{ .image_webp | absURL }}'); border-radius: 15px; margin: 20px; padding-bottom: 10px; background-repeat: no-repeat; overflow: hidden;">
				<!-- this image is for trigger this section fallback background image -->
				<img style="display: none;" onerror="this.onerror=null;this.parentElement.style.backgroundImage= 'url({{ .image | absURL }})'" src="{{ .image_webp | absURL }}" />
			</div>
		</div>
	</div>
</section>
{{"<!-- /feature -->" | safeHTML}}
{{ end }}
{{ end }}
